<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.1/css/bulma.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<app-list></app-list>

<script src="/static/tag/list.tag" type="riot/tag"></script>
<script src="https://cdn.jsdelivr.net/riot/3.4.4/riot%2Bcompiler.min.js"></script>
<script src="https://cdn.jsdelivr.net/riot-route/3.1.1/route.min.js"></script>
<script>
  riot.compile(() => riot.mount('*'))
</script>
